{{#if errors}}
    {{#each errors}}
    <div class="allert allert-danger"> {{this}}
    </div>
    {{/each}}
{{/if}}

<div class="block-header"> 
    <h2> Sign in </h2>
</div>
<form action="/authenticate" method="POST">
    <label> Username </label>
    <input id="username" name="username" placeholder="Username" type="text" class="span12"/>
    <label> Password </label>
    <input id="password" name="pasword" placeholder="Password" type="password"class="span12"/>
    <div class="form-actions"> 
        <button type="submit" class="btn btn-success pull-right"> Sign in </button>
        <div class="clearfix"> </div>
    </div>
</form>